# Byte-compiled / cache files
__pycache__/

# Virtual environments
venv/
.venv/

# Editor/IDE settings
.vscode/
.idea/

# Packaging files
*.egg-info/
dist/
build/

# Python environment management
.python-version

# Documentation builds
docs/_build/

# Credentials and sensitive data
credentials.json
creds.txt


# Test-specific files
test_search_criteria.json

# Miscellaneous
*.sc
.DS_Store
Thumbs.db
